{% extends 'base.html' %}
{% block body %}
<div class="text-center mt-5 pt5">
<img src="https://icons.veryicon.com/png/o/miscellaneous/new-version-of-star-selected-icon/success-26.png" class="img-fluid" style="height:200px">
<h2 class="mt-4">Thanks your payment for ₹{{ok1}} has been received</h2>
<h3 class="mt-4">We have send confirmation on your mail</h3>
</div>
<footer>
        <div class="footer-content">
            <h3>The Spark Donation</h3>
            <p>Think positive; do positive</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 The Spark Donation. designed by <span>Aashish Shahi</span></p>
        </div>
</footer>
{% endblock body %}